# PDF reading
Pillow
PyMuPDF==1.23.5
pyzbar~=0.1.9

# Selenium
selenium~=4.15.2
webdriver-manager~=4.0.1

# verify-code preprocess
opencv-python~=4.8.1.78
numpy
requests
clint

# export excel
openpyxl